# Python
__pycache__/
*.py[cod]
*.egg-info/
.pytest_cache/
.ipynb_checkpoints/

# Virtual environments
.venv/
venv/

# IDE / editor
.idea/
.vscode/

# Sphinx build output
build/

# Warp kernel cache
.warp_cache/
